<button
    class="w-button <%= variant_class %> <%= size_class %> <%= radius_class %> <%= additional_classes %>"
    <%= attributes %>
    <%= "disabled" if disabled %>
>
    <%= content %>
</button>