<%
# Prepare base HTML options
html_options = {
  class: [
    "w-button",
    variant_class,
    size_class,
    radius_class,
    additional_classes,
    ("w-button-loading" if loading),
    ("w-button-icon-only" if icon_only),
    (href.present? ? (local_assigns[:underline] == false ? "w-button-no-underline" : "w-button-underline") : nil)
  ].compact.join(" "),
  disabled: disabled || loading,
  style: local_assigns[:html_options]&.dig(:style),
  "aria-busy": loading,
  "aria-disabled": disabled || loading,
  "aria-expanded": dropdown ? "false" : nil,
  "aria-haspopup": dropdown ? "true" : nil
}

# Only add Stimulus data attributes if they're in the passed options
if local_assigns[:html_options]&.dig(:data, :controller)
  html_options[:data] = (local_assigns[:html_options][:data] || {})
end

# Merge any remaining options
html_options.merge!(local_assigns[:html_options] || {})

tag_type = href.present? ? :a : :button

# Conditionally render wrapper for dropdowns or advanced features
if local_assigns[:wrapper_options].present?
%>
  <div <%= tag.attributes(wrapper_options) %>>
    <%= content_tag tag_type, html_options do %>
      <%= render partial: "wilday_ui/button/content", locals: local_assigns %>
    <% end %>

    <% if dropdown && dropdown_items %>
      <%= render partial: "wilday_ui/button/dropdown_menu", locals: { items: dropdown_items, dropdown: dropdown } %>
    <% end %>
  </div>
<% else %>
  <%= content_tag tag_type, html_options do %>
    <%= render partial: "wilday_ui/button/content", locals: local_assigns %>
  <% end %>
<% end %>