<h1>Wilday UI Button Component</h1>

<%= w_button "Primary Button", variant: :primary %>
<%= w_button "Secondary Button", variant: :secondary %>
<%= w_button "Disabled Button", variant: :outline %>
<%= w_button "Rounded Button", variant: :primary, radius: :rounded %>
<%= w_button "Pill Button", variant: :primary, radius: :pill %>
<%= w_button "Square Button", variant: :primary, radius: :square %>
